/* Color Used For Styling  */

:root {
  --purpleColorLighter: #a42de8;
  --blueColorLighter: #318aff;
  --blueColorDarker: #2d3de8;
  --bgColor: #ffffff;
  --fgColor: #800080;
  --fgColorLighter: rgba(128, 0, 128, 0.5);
  --headerTextColor: #ffffff;
  --largeScreen: 1067pt;
  --smallScreen: 500pt;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bgColor: #422142;
    --fgColor: #f0c4f0;
    --fgColorLighter: rgba(210, 169, 210, 0.5);
    --headerTextColor: var(--fgColor);
  }
}

/* ---------------------------------------- */

/* Body Tag Styling */

body {
  background-color: var(--bgColor);
}

html {
  box-sizing: border-box;
  font-family: "Ubuntu";
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

html,
body,
#App {
  height: 100%;
  margin: 0;
}

.main-content {
  padding: 2rem 0;
}

.wrapper {
  max-width: var(--largeScreen);
  margin: 0 auto;
  padding: 0 2rem;
}

/* ---------------------------------------- */

/* Text Styling */

h1 {
  font-family: "DynaPuff";
  color: var(--fgColor);
}

h3 {
  font-family: "DynaPuff";
  color: var(--fgColor);
  margin: 0;
}

h4 {
  font-family: "Ubuntu";
  color: var(--fgColor);
}

p {
  font-family: "Ubuntu";
}

.p-lighter {
  color: var(--fgColor);
}

.p-darker {
  color: var(--fgColorLighter);
}

a {
  text-decoration: none;
}

/* ---------------------------------------- */

/* Header Component Styling */

.page-header {
  background-image: linear-gradient(
    var(--purpleColorLighter),
    var(--blueColorLighter)
  );
  height: 72px;
}

.page-content {
  height: 100%;
  align-items: center;
  display: flex;

  justify-content: space-between;
}

/* ---------------------------------------- */

/* Border Styling */

.border-dark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--fgColor);
  border-bottom: 5px solid var(--fgColor);
  padding: 1rem 2rem;
}

.border-light {
  border: 2px solid;
  border-color: var(--fgColorLighter);
  border-bottom: 5px solid;
  border-bottom-color: var(--fgColorLighter);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 50px;
}

/* ---------------------------------------- */

/* Samples Created Styling */

.samples-container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  margin-top: 2rem;
}

.sample-card-left > p {
  margin-top: 1rem;
}

/* ---------------------------------------- */

/* Button Styling */

.base-button {
  border: 1px solid;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  margin: 0 5px;
}

.base-button:hover {
  background-color: var(--purpleColorLighter);
  color: var(--fgColorLighter);
}

/* .base-button:active {
  background-color: var(--purpleColorLighter);
  color: var(--fgColorLighter);
} */

.inverted-button {
  background-color: var(--fgColor);
  border: 1px solid;
}

.normal-button {
  background-color: var(--bgColor);
  color: var(--fgColor);
  text-align: center;
}

.shared-button {
  background-color: var(--bgColor);
  color: var(--fgColorLighter);
  text-align: center;
  margin: 5px;
}

.create-button {
  align-items: center;
  text-align: center;
  margin: 5px;
}

/* ---------------------------------------- */

/* Form Input Styling */

.input-form {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 5px;
}

input {
  flex: 1;
  padding: 0.5rem;
  background-color: var(--fgColorLighter);
  height: 36px;
  margin-right: 2rem;
  border: 0;
  border-radius: 5px;
  font-family: "DynaPuff";
  color: var(--fgColor);
}

/* ---------------------------------------- */

/* Shared and Not Shared Button */

.wrap-container {
  display: inline;
}

.shared-container {
  flex: 1;
  color: var(--fgColorLighter);
  display: flex;
  flex-direction: row;
}

.shared-container:selected {
  color: var(--bgColor);
  border-bottom: 3px solid;
}

.selected {
  background: var(--fgColor);
  color: var(--bgColor);
}

.not-selected {
  background: var(--bgColor);
  color: var(--fgColor);
}

/* ---------------------------------------- */

/* Type Button */

.sequence-container {
  display: flex;
  align-items: center;
}

.sequence-container > p {
  color: var(--fgColor);
  flex-basis: 48px;
  text-align: end;
  margin-right: 1rem;
}

.music-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.875rem;
  margin-top: 2rem;
}

.type-button {
  flex: 1;
  border-style: solid;
  border-width: 1px 1px 3px 1px;
  border-color: var(--fgColor);
  cursor: pointer;
  padding: 0.5rem 0;
}

.type-button:hover {
  background-color: var(--fgColorLighter);
  color: var(--fgColor);
}

/* ---------------------------------------- */

/* Music */

.sequencer {
  border: 1px solid;
  border-color: var(--fgColor);
  border-bottom: 4px solid;
  border-bottom-color: var(--fgColor);
  display: flex;

  flex: 1;
  height: 2rem; /* margin-right: 40px; */
}

.sequencer > .bar {
  border: 1px solid var(--fgColor);
  width: 100%;
  flex: 1;
  text-align: center;
  cursor: pointer;

  /* flex-shrink: 0; */
}

.sequencer > .bar:hover {
  background: var(--fgColorLighter);
}

.sequencer > .bar.selected {
  background: var(--fgColor);
  color: var(--bgColor);
  font-weight: bold;
}

.share-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 2rem;
}

.share-container > p {
  color: var(--fgColor);
}

/* ---------------------------------------- */

@media (max-width: 500pt) {
  .border-dark {
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
  }

  .sample-card-right {
    align-self: flex-end;
  }

  .page-content > h4 {
    font-size: 0.875rem;
  }

  .input-form {
    flex-direction: column;
    align-items: stretch;
    row-gap: 0.75rem;
    padding: 0;
  }

  input {
    margin-right: 0;
    
  }
}
