/* Color Used For Styling */

:root {
  --purpleColorLighter: #a42de8;
  --blueColorLighter: #318aff;
  --blueColorDarker: #2d3de8;
  --bgColor: #ffffff;
  --fgColor: #800080;
  --fgColorLighter: rgba(128, 0, 128, 0.5);
  --headerTextColor: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bgColor: #422142;
    --fgColor: #f0c4f0;
    --fgColorLighter: rgba(210, 169, 210, 0.5);
    --headerTextColor: var(--fgColor);
  }
}

/* ---------------------------------------- */

/* Body Tag Styling */

body {
  background-color: var(--bgColor);
}

html {
  max-width: 1067pt;
  min-width: 500pt;
  margin: auto;
}

/* ---------------------------------------- */

/* Text Styling */

h1 {
  font-family: "DynaPuff";
  color: var(--fgColor);
}

h3 {
  font-family: "DynaPuff";
  color: var(--fgColor);
}

h4 {
  font-family: "Ubuntu";
  color: var(--fgColor);
}

p {
  font-family: "Ubuntu";
}

.p-lighter {
  color: var(--fgColor);
}

.p-darker {
  color: var(--fgColorLighter);
}

Link {
  text-decoration: none;
  font-family: "Ubuntu";
}

/* ---------------------------------------- */

/* Header Component Styling */

.page-header {
  background-image: linear-gradient(
    var(--purpleColorLighter),
    var(--blueColorLighter)
  );
  text-decoration: none;
  align-items: center;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  flex-direction: row;
  justify-content: space-between;
}

/* ---------------------------------------- */

/* Border Styling */

.border-dark {
  border: 2px solid;
  border-color: var(--fgColor);
  border-bottom: 5px solid;
  border-bottom-color: var(--fgColor);
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 10px;
}

.border-light {
  border: 2px solid;
  border-color: var(--fgColorLighter);
  border-bottom: 5px solid;
  border-bottom-color: var(--fgColorLighter);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 50px;
}

/* ---------------------------------------- */

/* Samples Created Styling */

.wrapper {
  display: flex;
  flex: 1;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
  align-items: center;
}

.rowbox-sample-container {
  flex-direction: row;
  color: var(--fgColor);
}

/* ---------------------------------------- */

/* Button Styling */

button {
  border: 1px solid;
}

button:hover {
  background-color: var(--purpleColorLighter);
  color: var(--fgColorLighter);
}

button:active {
  background-color: var(--purpleColorLighter);
  color: var(--fgColorLighter);
}

.button-edit {
  background-color: var(--fgColor);
  text-align: center;
  margin: 5px;
  padding: 5px;
}

.normal-button {
  background-color: var(--bgColor);
  color: var(--fgColor);
  text-align: center;
  margin: 5px;
  padding: 5px;
}

.shared-button {
  background-color: var(--bgColor);
  color: var(--fgColorLighter);
  text-align: center;
  margin: 5px;
  padding: 5px;
}

.create-button {
  align-items: center;
  text-align: center;
  margin: 5px;
  padding: 5px;
}

/* ---------------------------------------- */

/* Form Input Styling */

.input-form {
  /* align-items: center; */
  justify-content: space-between;
  padding: 5px;
  padding-left: 2%;
  /* flex-direction: row; */
}

input {
  padding: 10px;
  /* padding-right: 30px; */
  background-color: var(--fgColorLighter);
  width: 85%;
  height: 20px;
  border: 0;
  border-radius: 5px;
  font-family: "DynaPuff";
  color: var(--fgColor);
  margin-right: 2%;
}

/* ---------------------------------------- */

/* Shared and Not Shared Button */

.wrap-container {
  display: inline;
}

.shared-container {
  color: var(--fgColorLighter);
  flex-direction: row;
}

.shared-container:selected {
  color: var(--bgColor);
  border-bottom: 3px solid;
}

.selected {
  background: var(--fgColor);
  border: 1px solid var(--fgColor);
  border-bottom: 3px solid var(--fgColor);
  color: var(--bgColor);
  padding: 10px;
  padding-left: 125px;
  padding-right: 125px;
}

.not-selected {
  background: var(--bgColor);
  border-bottom: 3px solid;
  color: var(--fgColor);
  padding: 10px;
  padding-left: 125px;
  padding-right: 125px;
}

/* ---------------------------------------- */

/* Type Button */

/* ---------------------------------------- */

/* Music */

.sequencer {
  border: 1px solid;
  border-color: var(--fgColor);
  border-bottom: 4px solid;
  border-bottom-color: var(--fgColor);
  display: flex;
  overflow: auto;
  margin-bottom: 10px;
  margin-right: 40px;
}

.sequencer > .bar {
  border: 1px solid var(--fgColor);
  width: 100%;
  /* padding: 0.75em 0.25em; */
  padding: 10px;
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;
  cursor: pointer;
}

.sequencer > .bar:hover {
  background: var(--fgColorLighter);
}

.sequencer > .bar.selected {
  background: var(--fgColor);
  color: var(--bgColor);
  font-weight: bold;
}

/* ---------------------------------------- */
